page-dustbin {
    
        agm-map{
            height :500px;
        }
        labelOptions1{
            color: 'red',
            }
        labelOptions2{
            color: 'green',
            }
            
}
